@model IEnumerable<web_project.Models.Category>
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Categories</title>
    <link href="~/css/categories.css" rel="stylesheet">
</head>
<body>

    <!--- Meet the team -->
    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4">category</h1>
            </div>
            <hr>
        </div>
    </div>

    <!--- Cards -->
    <div class="container-fluid padding">
        <div class="row padding">
            @{
                foreach (web_project.Models.Category category in Model)
                {
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="">
                            <div class="card-body">
                                <h4 class="card-title">@category.categoryName</h4>
                                <p class="card-text">@category.id</p>
                                <a href="~/places/list/@category.id" class="btn btn-outline-secondary">Show Places</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</body>
</html>
